/* ### ###    PhotonUI Sharp Tabs, Non floating    ### ### */
@import "non_floating_sharp_tabs.css";
@import "photon_tab_separators.css";
@import "iconized_main_menu.css";
/*@import "tab_line_loading_indicator.css";*/
@import "tighten_up_menus.css";
@import "playing_icon.css";


/* [> Re-colour bookmark icon  with traditional colour <] */
#star-button {
  --toolbarbutton-icon-fill-attention: #3584E4 !important;
  --toolbar-field-icon-fill-attention: #3584E4 !important;
}
/* [> bookmark star in urlbar results <] */
.urlbarView-row[type="bookmark"]
  > .urlbarView-row-inner
  > .urlbarView-no-wrap
  > .urlbarView-type-icon {
  /* fill: #37ADFF !important; */
  fill: #3584E4 !important;
}

/* [> Force use old outline color globally <] */
:root {
   --focus-outline-color: #3584E4 !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  /* Disable gap between the last pinned tab and the first visible tab */
  margin-inline-start: 0 !important;
}

/* No need, can be set with browser.tabs.tabMinWidth
 * ref: https://support.mozilla.org/en-US/questions/1253108
#tabbrowser-tabs {
  --tab-min-width: 76px;
}
*/

/* Disable tab label mask on hover */
.tabbrowser-tab[visuallyselected=true]:hover,
#tabbrowser-tabs:not([closebuttons=activetab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([visuallyselected=true]):hover {
  --tab-label-mask-size: 0 !important;
}

/* Disable tab label mask
 * Proton default value = 2em
 * This is a tweak. Photo does contain this mask.
 */
.tabbrowser-tab {
  --tab-label-mask-size: 0 !important;
}

:root {
  --tab-min-height: 33px !important;
  --tabs-border-color: rgba(0,0,0,.3);
  /* --tabs-navbar-shadow-size: 1px; */
}

/* Enforce white menus */
:root,
.menupopup-arrowscrollbox,
.panel-arrowcontainer {
  --panel-color: rgb(0, 0, 0) !important;
  --panel-background: rgb(255,255,255) !important;
  /* "light" border */
  border-color: #cdc7c2 !important;
  /* : Remove outer menu border entirely */
  /* border: none !important; */
}
/* Fix menu-right arrow color */
menupopup:not(#PlacesToolbar menupopup) .menu-right {
  -moz-appearance: none !important;
  list-style-image: url(chrome://global/skin/icons/arrow-right.svg) !important;
  -moz-context-properties: fill !important;
}

